html, body {
  height: 100%;
  margin: 0;
}

th{
  text-align: center;
}
td{
  text-align: center;
}

.the_whole_window{
  min-height:100vh;
  min-width:100vw;
}

.vertical_half{
  display: inline-block;
  min-width:40vw;
  margin-left: auto;
  margin-right: auto;
}

.vertical_half_right{
  display: inline-block;
  min-width:40vw;
  min-height:60vh;
  vertical-align: top;
}

.control_table{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.common_table_view{
  border: 2px solid black;
  min-width:100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.player_div{
  display: inline-block;
  border: 2px solid black;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 5px;
  min-width:35vw;
  vertical-align: top;
}


.player_name_box{
  width=100px;
  border: 2px solid black;
  text-align: left;
  font-size:25px;
  color: black;
  padding: 0px 0px 0px 0px;

}


.hand_play_box_r{
  border: 2px solid black;
  margin: 0px;
  text-align: center;
  font-size:40px;
  color: #cc0000;
  padding: 0px 0px 0px 0px;

}

.hand_play_box_r_show{
  border: 2px solid black;
  margin: 0px;
  text-align: center;
  font-size:30px;
  color: #cc0000;
  padding: 0px 0px 0px 0px;

}

.hand_play_box_b{
  border: 2px solid black;
  margin: 0px;
  text-align: center;
  font-size:20px;
  color: black;
  padding: 0px 0px 0px 0px;

}

.common_card_div{

  display: inline-block;
  border: 4px solid black;
  vertical-align: top;

}

.common_card_table{

  min-width:30vw;
}

.common_card_back_r{
  color: #bb0000;
  font-size:95px;
  background-color:white;
  border: 1px solid black;

}

.summary_table{
  display: inline-block;
  border: 2px solid black;
  align-content: center;
}

.your_cards{
  border: 2px solid black;
  align-content: center;
  width: 100%
}

.your_cards_hand{
  border: 1px solid black ;
}

.your_cards_card_r_rnk{
  color: #bb0000;
  font-size:40px;
}

.your_cards_card_b_rnk{
  color: #000000;
  font-size:40px;
}

.your_cards_card_r_st{
  color: #bb0000;
  font-size:50px;
}

.your_cards_card_b_st{
  color: #000000;
  font-size:50px;
}

.sp_login_div{

  display: inline-block;
  border: 2px solid black;
  vertical-align: top;

}
.sp_login_table{
  min-width:30vw;
}

.round_summary_table{
  display: inline-block;
  border: 2px solid black;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 5px;
  min-width:35vw;
  vertical-align: top;
}

.round_summary_chart{
  display: inline-block;
  border: 2px solid black;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 5px;
  min-width:35vw;
  vertical-align: top;
}

.high_low_results{
  display: block;
  min-width:90vw;
  margin-left: 10%;
  margin-right: 10%;

}

.high_low_results_left{
  display: inline-block;
  vertical-align: top;
  margin-top:20px;
  border: 4px solid navy;
  min-width:40%
  margin-left: 20px;

}

.high_low_results_right{
  display: inline-block;
  vertical-align: top;
  margin-top:20px;
  border: 4px solid red;
  min-width:40%
  margin-right: 20px;
}

.hand_results_table{
  display: block;
  text-align: left;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 5px;
  color: black;
  vertical-align: top;
}

.high_low_results{
  display: block;
  min-width:90vw;
  margin-left: 10%;
  margin-right: 10%;

}
.scoreplots{
  display: block;
  min-width:100vw;
  margin-left: 3px;
  margin-right: 3px;
}
.mc_player_controls{
  background-color: powderblue;
}

.mc_hand_controls{
  background-color: navajowhite;
}
