<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Please choose a game</h1>
    <div>


    <select id="game_choice1" name='game_choice' value='pic_a_wheel'>
        <option value='pic_a_wheel'>pic_a_wheel</option>
        <option value='slot_machine'>slot_machine</option>
        <option value='three_phase'>three_phase</option>
        <option value='tic_tac_toe'>tic_tac_toe</option>
        <option value='tic_tac_toe_w_plex'>tic_tac_toe_w_plex</option>
        </select>
    </div>
    <div class="form-group">
            <button type="submit">Select</button>
    </div>
  </body>
</html>
