<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="2" http-equiv="refresh"/>
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          This User:  {{data.name}}
        </td>
        <td>
          Active User:  {{data.active_user}}
        </td>
      </tr>
      <tr>
        <td>
          <label for="sport">Favorite Sport</label>
            <select id="sport" name='sport' value='Football'>
            <option value="football">Football</option>
            <option value="rugby">Rugby</option>
            <option value="baseball">Baseball</option>
        </select>
      </td>
        <td>
      <td>
        <label for="season">Favorite Season</label>
          <select id="sport" name='season' value='Spring'>
          <option value="winter">Winter</option>
          <option value="spring">Spring</option>
          <option value="summer">Summer</option>
          <option value="fall">Fall</option>
      </select>
    </td>


      </tr>
    </table>
  </body>
</html>
