<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<p>
    {% if active_dict['name'] %}
    Welcome to the simple control panel {{active_dict['name']}} please tread carefully.

    {% endif %}
</p>

<form method="POST">
    {{form.hidden_tag() }}
    <table>

        <tr>
            <td>Active User</td>
            <td>
              <select id="active_user" name='active_user' value='No_One'>
                <option value="No_One">No One</option>  {% for u in active_dict['users'] %}
                  <option value={{u.name}}>{{u.name}}</option>
                  {% endfor %}

        </tr>

        <tr>
          <td>{{form.submit}}</td>

        </tr>


</form>
</body>
</html>
