<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    {% if dealer.declare_open == False  and dealer.active_player != session['username']%}
    <meta content="2" http-equiv="refresh"/>
    {% endif %}

    <title></title>

    <link href="static/table.css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body>
<div class="the_whole_window">

    <div class="common_table_view">
        <div class="player_div">
            <table class="jumbotron">

                <tr>
                    <th style="width: 10px"></th>
                    <th>Name</th>
                    <th style="width: 10px"></th>
                    <th>Hand 1</th>
                    <th style="width:10px"></th>
                    <th>Comm.</th>
                    <th style="width:10px"></th>
                    <th>Hand 2</th>
                    <th style="width:10px"></th>
                </tr>

                {% for p in players%}

                <tr>
                    <td style="width: 10px"></td>
                    <td class="player_name_box">{{p.p_nickname}}</td>
                    <td style="width: 10px"></td>

                    <td class="hand_play_box_r_show">
                        {% if (p.hands_pr[0] != 'folded') and (p.hands_pr[0] != ['folded']) %}
                            {% if p["hands_pr"][0][0][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][0][0][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][0][0][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][0][0][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][0][0][1]}}</span>
                            {% endif %}


                            {% if p.hands_hi_lo[0]=="high" %}
                            <span style="color: #777777"> &#9679;</span>
                            {% endif %}

                            {% if p["hands_pr"][0][1][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][0][1][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][0][1][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][0][1][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][0][1][1]}}</span>
                            {% endif %}

                        {% else %}

                        {% endif %}



                    </td>


                    <td style="width:10px"></td>

                    <td class="hand_play_box_r_show">
                    {% if (p.hands_pr[0] != 'folded') and (p.hands_pr[0] != ['folded']) %}

                        {% if p["common_cards_pr"][1] in ["\u2665","\u2666"] %}
                            <span class="your_cards_card_r_rnk">{{p["common_cards_pr"][0]}}</span>
                            <span class="your_cards_card_r_st">{{p["common_cards_pr"][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["common_cards_pr"][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["common_cards_pr"][1]}}</span>
                        {% endif %}
                    {% endif %}
                    </td>td

                    <td style="width:10px"></td>

                    <td class="hand_play_box_r_show">
                        {% if (p.hands_pr[1] != 'folded') and (p.hands_pr[0] != ['folded']) %}
                            {% if p["hands_pr"][0][0][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][1][0][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][1][0][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][1][0][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][1][0][1]}}</span>
                            {% endif %}


                            {% if p.hands_hi_lo[1]=="high" %}
                            <span style="color: #777777"> &#9679;</span>
                            {% endif %}

                            {% if p["hands_pr"][1][1][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][1][1][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][1][1][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][1][1][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][1][1][1]}}</span>
                            {% endif %}

                        {% else %}

                        {% endif %}
                    </td>

                </tr>
                {% endfor %}

            </table>
        </div>

        <div class="common_card_div">
            <table class="common_card_table">
                <tr>
                    <th style="text-align:center">Flip 1</th>
                    <th style="text-align:center">Flip 2</th>
                    <th style="text-align:center">Flip 3</th>
                </tr>
                <tr class="common_card_back_r">
                    {% if dealer.common_cards_flipped[0] %}
                    {% if dealer.common_cards_pr[0][0][1] in ["\u2665","\u2666"] %}
                    <td>
                        <span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[0][0][0]}}</span>
                        <span class="your_cards_card_r_st">{{dealer.common_cards_pr[0][0][1]}}</span>
                    </td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[0][0][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[0][0][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[1] %}
                    {% if dealer.common_cards_pr[1][0][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[1][0][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[1][0][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[1][0][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[1][0][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[2] %}
                    {% if dealer.common_cards_pr[2][0][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[2][0][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[2][0][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[2][0][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[2][0][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                </tr>
                <tr class="common_card_back_r">
                    {% if dealer.common_cards_flipped[0] %}
                    {% if dealer.common_cards_pr[0][1][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[0][1][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[0][1][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[0][1][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[0][1][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[1] %}
                    {% if dealer.common_cards_pr[1][1][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[1][1][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[1][1][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[1][1][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[1][1][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[2] %}
                    {% if dealer.common_cards_pr[2][1][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[2][1][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[2][1][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[2][1][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[2][1][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                </tr>
                <tr class="common_card_back_r">
                    {% if dealer.common_cards_flipped[0] %}
                    {% if dealer.common_cards_pr[0][2][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[0][2][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[0][2][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[0][2][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[0][2][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[1] %}
                    {% if dealer.common_cards_pr[1][2][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[1][2][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[1][2][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[1][2][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[1][2][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                </tr>
            </table>
        </div>




        </div>
    </div>



    </div>
    </form>
</div>

</div>
</body>
</html>
