<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    {% if dealer.declare_open == False  and dealer.active_player != session['username']%}
    <meta content="2" http-equiv="refresh"/>
    {% endif %}

    <title></title>

    <link href="static/table.css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body>
<div class="the_whole_window">

    <div class="common_table_view">
        <div class="player_div">
            <table class="jumbotron">

                <tr>
                    <td style="width: 10px"></td>
                    <th>Name</th>
                    <td style="width: 10px"></td>
                    <th>Hand 1</th>
                    <td style="width:10px"></td>
                    <th>Comm.</th>
                    <th style="width:10px"></th>
                    <th>Hand 2</th>
                    <th style="width:10px"></th>
                </tr>

                {% for p in players%}

                <tr>
                    <td style="width: 10px"></td>
                    <td class="player_name_box">{{p.p_nickname}}</td>
                    <td style="width: 10px"></td>

                    <td class="hand_play_box_r_show">
                        {% if (p.hands_pr[0] != 'folded') and (p.hands_pr[0] != ['folded']) %}
                            {% if p["hands_pr"][0][0][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][0][0][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][0][0][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][0][0][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][0][0][1]}}</span>
                            {% endif %}


                            {% if p.hands_hi_lo[0]=="high" %}
                            <span style="color: #777777"> &#9679;</span>
                            {% endif %}

                            {% if p["hands_pr"][0][1][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][0][1][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][0][1][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][0][1][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][0][1][1]}}</span>
                            {% endif %}

                        {% else %}

                        {% endif %}
                    </td>

                    <td style="width:10px"></td>

                    <td class="hand_play_box_r_show">
                    {% if p.p_nickname not in dealer.dead_guys %}
                      {% if (p.common_cards_pr != 'folded')  %}
                        {% if p["common_cards_pr"][1] in ["\u2665","\u2666"] %}
                            <span class="your_cards_card_r_rnk">{{p["common_cards_pr"][0]}}</span>
                            <span class="your_cards_card_r_st">{{p["common_cards_pr"][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["common_cards_pr"][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["common_cards_pr"][1]}}</span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    </td>td

                    <td style="width:10px"></td>

                    <td class="hand_play_box_r_show">
                        {% if (p.hands_pr[1] != 'folded') and (p.hands_pr[1] != ['folded']) %}
                            {% if p["hands_pr"][1][0][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][1][0][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][1][0][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][1][0][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][1][0][1]}}</span>
                            {% endif %}


                            {% if p.hands_hi_lo[1]=="high" %}
                            <span style="color: #777777"> &#9679;</span>
                            {% endif %}

                            {% if p["hands_pr"][1][1][1] in ["\u2665","\u2666"] %}
                                <span class="your_cards_card_r_rnk">{{p["hands_pr"][1][1][0]}}</span>
                                <span class="your_cards_card_r_st">{{p["hands_pr"][1][1][1]}}</span>
                            {% else %}
                            <span class="your_cards_card_b_rnk">{{p["hands_pr"][1][1][0]}}</span>
                            <span class="your_cards_card_b_st">{{p["hands_pr"][1][1][1]}}</span>
                            {% endif %}

                        {% else %}

                        {% endif %}
                    </td>

                </tr>
                {% endfor %}

            </table>
        </div>

        <div class="common_card_div">
            <table class="common_card_table">
                <tr>
                    <th style="text-align:center">Flip 1</th>
                    <th style="text-align:center">Flip 2</th>
                    <th style="text-align:center">Flip 3</th>
                </tr>
                <tr class="common_card_back_r">
                    {% if dealer.common_cards_flipped[0] %}
                    {% if dealer.common_cards_pr[0][0][1] in ["\u2665","\u2666"] %}
                    <td>
                        <span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[0][0][0]}}</span>
                        <span class="your_cards_card_r_st">{{dealer.common_cards_pr[0][0][1]}}</span>
                    </td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[0][0][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[0][0][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[1] %}
                    {% if dealer.common_cards_pr[1][0][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[1][0][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[1][0][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[1][0][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[1][0][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[2] %}
                    {% if dealer.common_cards_pr[2][0][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[2][0][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[2][0][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[2][0][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[2][0][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                </tr>
                <tr class="common_card_back_r">
                    {% if dealer.common_cards_flipped[0] %}
                    {% if dealer.common_cards_pr[0][1][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[0][1][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[0][1][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[0][1][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[0][1][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[1] %}
                    {% if dealer.common_cards_pr[1][1][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[1][1][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[1][1][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[1][1][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[1][1][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[2] %}
                    {% if dealer.common_cards_pr[2][1][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[2][1][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[2][1][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[2][1][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[2][1][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                </tr>
                <tr class="common_card_back_r">
                    {% if dealer.common_cards_flipped[0] %}
                    {% if dealer.common_cards_pr[0][2][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[0][2][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[0][2][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[0][2][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[0][2][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                    {% if dealer.common_cards_flipped[1] %}
                    {% if dealer.common_cards_pr[1][2][1] in ["\u2665","\u2666"] %}
                    <td><span class="your_cards_card_r_rnk">{{dealer.common_cards_pr[1][2][0]}}</span><span
                            class="your_cards_card_r_st">{{dealer.common_cards_pr[1][2][1]}}</span></td>
                    {% else %}
                    <td><span class="your_cards_card_b_rnk">{{dealer.common_cards_pr[1][2][0]}}</span><span
                            class="your_cards_card_b_st">{{dealer.common_cards_pr[1][2][1]}}</span></td>
                    {% endif %}

                    {% else%}
                    <td class="common_card_back_r">&#127136;</td>
                    {% endif %}
                </tr>
            </table>
        </div>

<div class="summary_table">
            <table>
                <th><b>Table Status</b></th>
                <tr>
                    <td>Dealer</td>
                    <td>{{players[-1].p_nickname}}</td>
                    <td style="width:50px"></td>
                </tr>
                <tr>
                    <td>In Pot:</td>
                    <td>{{dealer.pot}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pot hi/low:</td>
                    <td>{{dealer.high_pot}}/{{dealer.low_pot}}</td>
                    <td></td>
                </tr>
                <tr style="height: 10px">
                    <td></td>
                </tr>

                <tr>
                    <td>Players w/ Two Hands</td>
                    <td>{{dealer.players_w_two_hands}}</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Players w/ One Hand</td>
                    <td>{{dealer.players_w_one_hand}}</td>
                    <td>-</td>
                <tr>
                    <tr>
                    <td>Players Folded</td>
                    <td>{{dealer.players_folded}}</td>
                </tr>
                <tr>
                    <tr>
                    <td>High Hands</td>
                    <td>{{dealer.high_hands}}</td>
                </tr>
                <tr>
                    <tr>
                    <td>Low Hands</td>
                    <td>{{dealer.low_hands}}</td>
                </tr>
            </table>

        </div> <!-- Summary Table -->


        </div> <!-- common table view -->


    <div class="high_low_results">
      <div class="high_low_results_left">
        <h3>High Hand Results</h3>
        <table class="hand_results_table">
          <tr>
            <th>Name</th>
            <td style="width:10px"></td>
            <th>Rank</th>
            <td style="width:10px"></td>
            <th>Hand</th>
            <td style="width:10px"></td>
            <th>Card_Values</th>
            <td style="width:10px"></td>
            <th>Winnings</th>
          </tr>
          {% for r in high_hand_df.index %}
          <tr>
            <td>{{high_hand_df['Name'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{high_hand_df['Rank'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{high_hand_df['Hand'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{high_hand_df['Card_Values'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{high_hand_df['Winnings'][r]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="high_low_results_right">
        <h3>Low Hand Results</h3>
        <table class="hand_results_table">
          <tr>
            <th>Name</th>
            <td style="width:10px"></td>
            <th>Rank</th>
            <td style="width:10px"></td>
            <th>Hand</th>
            <td style="width:10px"></td>
            <th>Card_Values</th>
            <td style="width:10px"></td>
            <th>Winnings</th>
          </tr>
          {% for r in low_hand_df.index %}
          <tr>
            <td>{{low_hand_df['Name'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{low_hand_df['Rank'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{low_hand_df['Hand'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{low_hand_df['Card_Values'][r]}}</td>
            <td style="width:10px"></td>
            <td>{{low_hand_df['Winnings'][r]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div> <!-- Hi_low results right-->
    </div> <!-- Hi_low results-->

    <div class="scoreplots">
        <h2>The Score Now</h2>
        <IMG class="center" SRC={{dealer.pandl_chart_location}} ALT="ruht-row no pandl chart found" >
    </div>

    <div class="scoreplots">
        <h2>The Table</h2>
        <table>
        <tr>
            <th>Player</th>
            <th style="width:20px"></th>
            <th>Bankroll</th>
            <th style="width:20px"></th>
            <th>Ante/Bets</th>
            <th style="width:20px"></th>
            <th>Winnings</th>
            <th style="width:20px"></th>
            <th>P&L</th>
        </tr>

        {% for i in rolling_df.index %}
        <tr>
            <td>{{rolling_df['Name'][i]}}</td>
            <td style="width:20px"></td>
            <td>{{rolling_df['p_and_l'][i]+500 }}</td>
            <td style="width:20px"></td>
            <td>?</td>
            <td style="width:20px"></td>
            <td>?</td>
            <td style="width:20px"></td>
            <td>{{rolling_df['p_and_l'][i] }}</td>
        </tr>

        {% endfor %}

        </table>
        <p>
            Total player bankroll: {{dealer.total_player_bankroll}}.  Total_funds_check: {{dealer.total_funds_check}}
        </p>
    </div>
</div> <!-- the_whole_window -->
</body>
</html>
