<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid" id="feedback">
    <p><h2>Give us your feedback on the cafe!</h2>

    </p>
    <form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Hand_1</span>
            <select name="Hand_1" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.action }}">{{ o.action }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>
  </body>
</html>
