<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">


    <title></title>

    <link type="text/css" href="table.css" rel='stylesheet'>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body>
<div class='the_whole_window'>

    <div class='common_table_view'>
        <div class='player_div'>
            <table class='jumbotron'>

                <tr>
                    <th style='width: 10px'></th>
                    <th>Name</th>
                    <th style='width: 10px'></th>
                    <th>Hand 1</th>
                    <th style='width:10px'></th>
                    <th>Comm.</th>
                    <th style='width:10px'></th>
                    <th>Hand 2</th>
                    <th style='width:10px'></th>
                    <th>/Side</th>
                    <th style='width:10px'></th>
                    <th>Bet</th>
                </tr>


                <tr>
                    <td style='width: 10px'></td>
                    <td class='player_name_box'>Bob</td>
                    <td style='width: 10px'></td>
                    <td class='hand_play_box_r'>&#127136 <span style='color:#777777'>&#9679</span> &#127136;</td>
                    <td style='width:10px'></td>
                    <td class='hand_play_box_r'>&#127136;</td>
                    <td style='width:10px'></td>
                    <td class='hand_play_box_r'>&#127136 &#127136;</td>
                    <td style='width:10px'></td>
                    <td class='hand_play_box_b'></td>
                    <td style='width:10px'></td>
                    <td class='hand_play_box_b'>X</td>

                </tr>

            </table>
        </div>

</body>
</html>
